# Question 1

Consider the following Python module:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2
After importing the module into the interpreter, you execute:

b()

b()

b()

a

?

What value is displayed when the last expression (a) is evaluated? Explain your
answer by indicating what happens in every executed statement.

In [4]:
a = 0             # Initial value of a as 0
def b():          # Keyword def that creates the function b
 global a         # Creating the variable a as global, meaning that will record the value from the output of the function  
 a = c(a)         # 
def c(a):         #
 return a + 2     # The return statement is used to exit a function and go back to the place from where it was called.

In [5]:
b() # the function is executed with 0 and since variable a is global it carries the value until the end of the function but adds 2
b() # Now a (global variable) starts with 2, result from the function runned before, and adds more 2 
b() #The function is called again, but the function stored a equal to 4, at the end adds more 2.
a   #Since the function stored the new values of a every time it was executed, and as a being declared as global, a resulted as the 
    #the function accumulation as it was executed.

6

# Question 2

Function fileLength(), given to you, takes the name of a file as input and returns
the length of the file:

fileLength('midterm.py')
284

fileLength('idterm.py')
Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module>
 fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength
 infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory:
'idterm.py'

    As shown above, if the file cannot be found by the interpreter or if it cannot be read as a text file, an exception will be raised. Modify function fileLength() so that a friendly message is printed instead:
    
> fileLength('midterm.py')
358

> fileLength('idterm.py')
File idterm.py not found.

In [8]:
def file_length(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except FileNotFoundError:
        print("\n\tSorry, '%s' not found.\n" % file_name)
        
file_length('Filelength.txt')

123

# Question 3

Write a class named Marsupial that can be used as shown below:

m = Marsupial()

m.put_in_pouch('doll')

m.put_in_pouch('firetruck')

m.put_in_pouch('kitten')

m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [190]:
class Marsupial:
 
    def __init__(self):
        m = Marsupial()       
        m.put_in_pouch('doll')
        m.put_in_pouch('firetruck')
        m.put_in_pouch('kitten')
        
m.Marsupial()

#Couldn't figure it out how to define m to display the items in the pouch

NameError: name 'm' is not defined

# Question 4

Write function collatz() that takes a positive integer x as input and prints the
Collatz sequence starting at x. 

A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence:

x = {
𝑥/2 𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛
3𝑥 + 1 𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑

Your function should stop when the sequence gets to number 1. Your

implementation must be recursive, without any loops

In [17]:
def Collatz(x):
 
    seq = [x]
    
#Conditional to respect that the function must stop when it gets to number 1.
    if x < 1:
       return []

#Perform calculations when the number is greater then 1. 
    while x > 1:
       if x % 2 == 0:
         x = x / 2
       else:
         x = 3 * x + 1
#Result value to be added in the list seq 
       seq.append(x)    
    return seq

x = int(input("Enter a number: "))

print(Collatz(x))

Enter a number: 12
[12, 6.0, 3.0, 10.0, 5.0, 16.0, 8.0, 4.0, 2.0, 1.0]

# Question 5

Write a recursive method binary() that takes a non-negative
integer n and prints the binary representation of integer n.

binary(0)
> 0

binary(1)
> 1

binary(3)
> 11

binary(9)
> 1001

In [119]:
def binary(x):
    if x < 2:
        return [x]
    else:
        return binary(x / 2) + [x % 2]

binary(9)

        

#round_to_tenths = [round(x, 1) for x in binary]

# Couldn't figure out how to get ride of the decimals, tried the round but as a list it doesn't work
# but the output, without the decimal, would look like [1,0,0,1] and the I could use the vertical function

[1.125, 0.25, 0.5, 1]

# Question 6

Implement a class named HeadingParser that can be used to parse an HTML
document, and retrieve and print all the headings in the document. You should
implement your class as a subclass of HTMLParser, defined in Standard Library
module html.parser. When fed a string containing HTML code, your class should
print the headings, one per line and in the order in which they appear in the
document. 

Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. 

Test your implementation using w3c.html.

infile = open('w3c.html')

content = infile.read()

infile.close()

hp = HeadingParser()

hp.feed(content)

W3C Mission

Principles

In [148]:
#Based in a code from github, but couldn't interpret it to make it work (https://gist.github.com/RobinDavid/9196709)

from html.parser import HTMLParser 

class HeadingParser (HTMLParser):
    header = False
    def handle_starttag(self, tag, attrs):
        if tag == "h1":
            self.header = True
            print("")
    def handle_data(self, data):
        if self.header:
            print(data)
    def handle_endtag(self, tag):
        if tag =="h1":
            self.header = False

In [152]:
infile = open('\\Users\\claud\\BIG DATA COURSE\\06 Data Programming\\[ASSIGNMENT] Assignment 02\\w3c.html') 
content = infile.read() 
infile.close() 
linkparser = HeadingParser() 
linkparser.feed(content) 

#The code doesn't execute as expected so result is blank

# Question 7

Implement recursive function webdir() that takes as input: a URL (as a string) and
non-negative integers depth and indent. Your function should visit every web
page reachable from the starting URL web page in depth clicks or less, and print
each web page's URL. 
As shown below, indentation, specified by indent, should be used to indicate the depth of a URL.

webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html

http://reed.cs.depaul.edu/lperkovic/csc242/test2.html

http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

http://reed.cs.depaul.edu/lperkovic/csc242/test3.html

http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

In [172]:
visited = set() # initialize visited to an empty set

def crawl2(url):
    '''a recursive web crawler that calls analyze()
       on every visited web page'''

    # add url to set of visited pages
    global visited     # warns the programmer 
    visited.add(url)

    # analyze() returns a list of hyperlink URLs in web page url 
    links = analyze(url)

    # recursively continue crawl from every link in links
    for link in links:
        # follow link only if not visited
        if link not in visited:
            try:
                crawl2(link)
            except:
                pass

In [173]:
from urllib.request import urlopen
from urllib.parse import urljoin

from html.parser import HTMLParser

def analyze(url):
    
    print('\n\nVisiting', url)           # for testing

    # obtain links in the web page
    content = urlopen(url).read().decode()
    collector = Collector(url)
    collector.feed(content)
    urls = collector.getLinks()          # get list of links


    # print the http links found in web page
    print('\n{:45} {:10}'.format('URL', 'link'))
    for link in urls:
        print('{:45} {:10}'.format(url, link))

    return urls

In [175]:
crawl2('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html',2,0)

TypeError: crawl2() takes 1 positional argument but 3 were given

# Question 8

Write SQL queries on the below database table that return:

In [23]:
import sqlite3
con = sqlite3.connect('PS2Q8.db')
cur = con.cursor()
print("Opened database successfully")

Opened database successfully

In [26]:
cur.execute("CREATE TABLE DBTable (City,Country,Season,Temperature,Rainfall)")
print("Table created successfully")

Table created successfully

In [27]:
cur.execute("INSERT INTO DBTable VALUES ('Mumbai','India','Winter',24.8,5.9)")
cur.execute("INSERT INTO DBTable VALUES ('Mumbai','India','Spring',28.4,16.2)")
cur.execute("INSERT INTO DBTable VALUES ('Mumbai','India','Summer',27.9,1549.4)")
cur.execute("INSERT INTO DBTable VALUES ('Mumbai','India','Fall',27.6,436)")
cur.execute("INSERT INTO DBTable VALUES ('London','United Kingdom','Winter',4.2,207.7)")
cur.execute("INSERT INTO DBTable VALUES ('London','United Kingdom','Spring',8.3,169.6)")
cur.execute("INSERT INTO DBTable VALUES ('London','United Kingdom','Summer',15.7,157)")
cur.execute("INSERT INTO DBTable VALUES ('London','United Kingdom','Fall',10.4,218.5)")
cur.execute("INSERT INTO DBTable VALUES ('Cairo','Egypt','Winter',13.6,16.5)")
cur.execute("INSERT INTO DBTable VALUES ('Cairo','Egypt','Spring',20.7,6.5)")
cur.execute("INSERT INTO DBTable VALUES ('Cairo','Egypt','Summer',27.7,0.1)")
cur.execute("INSERT INTO DBTable VALUES ('Cairo','Egypt','Fall',22.2,4.5)")
print("Values inserted to table successfully")

Values inserted to table successfully

a) All the temperature data.

In [28]:
cur.execute('SELECT Temperature FROM DBTable')

for record in cur:
    print(record)

(24.8,)
(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(13.6,)
(20.7,)
(27.7,)
(22.2,)

b) All the cities, but without repetition.

In [31]:
cur.execute('SELECT DISTINCT(City) FROM DBTable')

for record in cur:
    print(record)

('Mumbai',)
('London',)
('Cairo',)

c) All the records for India.

In [86]:
cur.execute('SELECT City,Temperature,Temperature,Rainfall FROM DBTable WHERE Country = ?', ('India',))

for record in cur:
    print(record)

('Mumbai', 24.8, 24.8, 5.9)
('Mumbai', 28.4, 28.4, 16.2)
('Mumbai', 27.9, 27.9, 1549.4)
('Mumbai', 27.6, 27.6, 436)

d) All the Fall records.

In [70]:
cur.execute('SELECT City,Country,Temperature,Rainfall FROM DBTable WHERE Season = ?', ('Fall',))

for record in cur:
    print(record)

('Mumbai', 'India', 27.6, 436)
('London', 'United Kingdom', 10.4, 218.5)
('Cairo', 'Egypt', 22.2, 4.5)

e) The city, country, and season for which the average rainfall is between 200
and 400 millimeters.

In [83]:
cur.execute('SELECT City,Country,Season FROM DBTable WHERE Rainfall BETWEEN 200 AND 400')

for record in cur:
    print(record)

('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')

f) The city and country for which the average Fall temperature is above 20
degrees, in increasing temperature order.

In [66]:
cur.execute('SELECT City,Country FROM DBTable WHERE Temperature > ?', (20,))

for record in cur:
    print(record)

('Mumbai', 'India')
('Mumbai', 'India')
('Mumbai', 'India')
('Mumbai', 'India')
('Cairo', 'Egypt')
('Cairo', 'Egypt')
('Cairo', 'Egypt')

g) The total annual rainfall for Cairo.

In [101]:
cur.execute('SELECT SUM(Rainfall) FROM DBTable WHERE City = ?', ('Cairo',))

for record in cur:
    print(record)

(27.6,)

h) The total rainfall for each season.

In [107]:
#Not sure how to proceed with this one
cur.execute('SELECT SUM(Rainfall) FROM DBTable WHERE Season = ?', ('Summer, Winter',))

for record in cur:
    print(record)

(None,)

# Question 9

Suppose list words is defined as follows: words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

Write list comprehension expressions that use list words and generate the following lists:

In [108]:
# List of words defined:
words =  ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [ ]:
[word.upper() for word in words]

b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [109]:
[word.lower() for word in words]

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words).

In [110]:
[len(word) for word in words]

[3, 5, 5, 3, 5, 4, 3, 4, 3]

d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]] 

(the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.)

In [163]:
upperword = [word.upper() for word in words]
lowerword = [word.lower() for word in words]
length = [len(i) for i in words]

[word for word in [upperword,lowerword,length]]

#array.merge(upperword,lowerword);

#print(word[upperword][lowerword][length])

#Couldn't find a way to

[['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG'],
 ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'],
 [3, 5, 5, 3, 5, 4, 3, 4, 3]]

e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] 

(the list of words in list words containing 4 or more characters.)

In [111]:
[word for word in words if len(word) >= 4]

['quick', 'brown', 'jumps', 'over', 'lazy']